body {
    background-color: #fffaf8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

  
@media (max-width: 768px) {
    body {
        height: 100%;
    }
}